body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: #b30000;
  margin: 0;
  padding: 0;
}

nav {
  z-index: 10;
  height: 4.1em;
  width: 100vw;
  top: 0;
  position: fixed !important;
  background-color: transparent;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: -0.1em;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 1.7em;
}

b {
  font-weight: 400;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.6em;
  margin-right: -0.4em;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 12px;
}

.brand-image {
  float: left;
  width: 20em;
  margin: 1em;
}

.brand-image-button {
  position: relative;
  width: 8.3em;
  background: white;
  padding: 0.5em 0 0.3em 0;
  margin: -0.5em 0 0 -0.5em;
}

.logo {
  content: url("assets/logo.png");
  width: calc(1.5em * 1175 / 249);
  height: 1.5em;
}

.nav-sign-up-div {
  float: right;
  margin: 0.7em 1.6em 0em 0em;
}

.nav-log-in-div{
  float: right;
  margin: 0.7em 1.1em 0em 0em;
}

.nav-sign-up {
  font-size: 1.1em;
  padding: 0.5em;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.nav-sign-up:hover {
  background: linear-gradient(#ff1a1a 0%, #b30000 100%);
}

.nav-log-in {
  font-size: 1.1em;
  padding: 0.5em;
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

.nav-log-in:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.explanation {
  position: relative;
  top: calc(50vh - 9em);
  left: calc(25vw - 10em);
  width: 20em;
  text-align: center;
}

.body-sign-up-div {
  float: left;
  position: absolute;
  top: 11.7em;
  left: 9.8em;
  margin: 0.4em 1em 0em 0em;
}

.body-log-in-div {
  float: left;
  position: absolute;
  top: 11.7em;
  left: 4.6em;
  margin: 0.4em 1em 0em 0em;
}

.body-sign-up {
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.body-sign-up:hover {
  background: linear-gradient(#ff1a1a 0%, #b30000 100%);
}

.body-log-in {
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

.body-log-in:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.down-arrow-div {
  position: absolute;
  top: calc(50vh + 4em);
  left: 8.75em;
}

.down-arrow {
  content: url("assets/downarrow.png");
  width: 2.5em;
  height: 1em;
  transform: scale(0.5);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.down-arrow:hover {
  transform: scale(1);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.in-depth {
  position: relative;
  top: calc(65vw - 9em);
  left: calc(75vw - 10em);
  width: 20em;
  text-align: center;
}

.footer {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  color: #cccccc;
  top: -2em;
  height: 6em;
}

.twitter-link {
  position: relative;
  top: -1em;
}

.facebook-link {
  position: relative;
  top: -1em;
  margin-left: 0.5em;
}

.medium-link {
  position: relative;
  top: -1em;
  margin-left: 0.5em;
}

.twitter {
  content: url("assets/twitter.png");
  margin-left: -0.5em;
  width: 2em;
  height: 2em;
}

.facebook {
  content: url("assets/facebook.png");
  width: 2em;
  height: 2em;
}

.medium {
  content: url("assets/medium.png");
  width: 2em;
  height: 2em;
}

@media only screen and (min-width: 769px) {
  /* for desktop */

  .main-body {
    position: relative;
    background: url("assets/bgdesktop.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 2972);
  }
}

@media only screen and (max-width: 768px) {
  /* for mobile */

  .main-body {
    position: relative;
    background: url("assets/bgmobile.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 3963 / 1300);
  }
}

.appear {
  /* make a div visible */
  opacity: 1;
  transition: opacity 0.25s ease 0s;
}

.disappear {
  /* make a div invisible */
  opacity: 0;
  transition: opacity 0.25s ease 0s;
}

.expand {
  /* make a div 2x in size */
  transform: scale(2);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.enable-link {
  /* enable link in a div */
  pointer-events: auto;
}

.disable-link {
  /* disable link in a div */
  pointer-events: none;
}
