body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: #b30000;
  margin: 0;
  padding: 0;
}

nav {
  z-index: 10;
  height: 4.1em;
  width: 100vw;
  top: 0;
  position: fixed !important;
  background-color: transparent;
}

h1 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

b {
  font-weight: 400;
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.6em;
  margin-right: -0.4em;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 12px;
}

.brand-image {
  float: left;
  width: 20em;
  margin: 1em;
}

.brand-image-button {
  position: relative;
  width: 8.3em;
  background: white;
  padding: 0.5em 0 0.3em 0;
  margin: -0.5em 0 0 -0.5em;
}

.icon {
  content: url("assets/logo.png");
  width: calc(1.5em * 1175 / 249);
  height: 1.5em;
}

.sign-up {
  float: right;
  margin: 0.4em 1em 0em 0em;
}

.sign-up-button {
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.sign-up-button:hover {
  background: linear-gradient(#ff1a1a 0%, #b30000 100%);
}

.log-in {
  float: right;
  margin: 0.4em 1em 0em 0em;
}

.log-in-button {
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

.log-in-button:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.one-liner {
  position: relative;
  top: calc(50vh - 4em);
  right: 25vw;
  text-align: center;
  font-size: 2.5em;
}

.footer {
  position: relative;
  text-align: center;
  top: 2em;
  height: 3em;
}

@media only screen and (min-width: 769px) {
  /* for desktop */

  .main-body {
    position: relative;
    background: url("assets/bgdesktop.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 2972);
  }
}

@media only screen and (max-width: 768px) {
  /* for mobile */

  .main-body {
    position: relative;
    background: url("assets/bgmobile.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 3963 / 1300);
  }
}
