form {
  width: calc(100% - 2.5em);
  margin-right: 2.5em;
}

input[type=submit] {
  margin-right: 5.3em;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}
