form {
  width: calc(100% - 0.75em);
  margin-right: 0.75em;
}

input[type=submit] {
  margin-right: 6.5em;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}
