.main-body {
  position: relative;
  height: calc(100vh - 8em);
}

.basic-info {
  position: relative;
  background: white;
  top: calc(50vh - 12em);
  left: calc(50vw - 14.5em);
  width: 25em;
  padding: 0 2em 2em 2em;
  border-radius: 12px;
  border: none;
}

@media only screen and (min-width: 769px) {
  .main-body {
    background: url("../assets/bgnoscroll.jpg") no-repeat;
    background-position: 0 calc(50vh - (100vw * 2656 / 4000) / 2 - 6em);
    background-size: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  .main-body {
    background: white;
  }

  .basic-info {
    top: calc(50vh - 14em);
    left: 0;
    width: calc(100vw - 4em);
  }
}
