input[type=submit] {
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.nav-log-out-div {
  float: right;
  margin: 0.7em 1.6em 0em 0em;
}

.nav-log-out {
  font-size: 1.1em;
  padding: 0.5em;
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

.nav-log-out:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

@media only screen and (min-width: 769px) {
  /* for desktop screens */
  .main-body {
    position: relative;
    background: url("../assets/bgdesktop.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 3789);
  }
}

@media only screen and (max-width: 768px) {
  /* for mobile screens */

  .brand-image {
    margin-left: 1.8em;
  }

  .main-body {
    position: relative;
    background: white;
    width: calc(100vw - 2em);
    margin-left: 2em;
    padding-top: 8.5em;
    padding-bottom: 8em;
    min-height: calc(100vh - 22.2em);
  }
}
