input[type=submit] {
  margin-top: 0;
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.nav-log-out-div {
  float: right;
  margin: 0.7em 1.6em 0em 0em;
}

.nav-log-out {
  font-size: 1.1em;
  padding: 0.5em;
}

.link-buttons {
  position: relative;
  background: white;
  width: 34.5em;
  margin-left: 10em;
  padding-top: 8.5em;
  height: 4em;
}

.body-profile {
  float: left;
  position: absolute;
  top: 7em;
  left: 5em;
  margin: 0em 0em 0 0;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.body-profile:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.body-search {
  float: left;
  position: absolute;
  top: 7em;
  left: 11em;
  margin: 0em 0em 0 0;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.body-search:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.body-account {
  float: left;
  position: absolute;
  top: 7em;
  left: 17em;
  margin: 0em 0em 0 0;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.body-account:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.tab-left {
  position: absolute;
  top: 10em;
  left: 2.5em;
}

.page-left-grey {
  content: url("../assets/leftarrowgrey.png");
  width: 1em;
  height: 1.5em;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.page-left-red {
  content: url("../assets/leftarrowred.png");
  width: 1em;
  height: 1.5em;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.page-left-red:hover {
  transform: scale(1);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.tab-right {
  position: absolute;
  top: 10em;
  left: 30.8em;
}

.page-right-grey {
  content: url("../assets/rightarrowgrey.png");
  width: 1em;
  height: 1.5em;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.page-right-red {
  content: url("../assets/rightarrowred.png");
  width: 1em;
  height: 1.5em;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.page-right-red:hover {
  transform: scale(1);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.intro-list {
  position: relative;
  background: white;
  width: 34.5em;
  margin-left: 10em;
  padding: 0.9em 0 8em 0;
  height: calc(100vw * 4000 / 3789 - 60em);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.empty-intros-container {
  width: 20em;
  margin-left: calc(50% - 20em / 2);
  padding-top: 10em;
}

.empty-intros-left {
  float: left;
  width: 10em;
}

.empty-intros-right {
  float: left;
  padding-top: 3.5em;
  width: 10em;
}

.no-intros {
  content: url("../assets/emptyintros.png");
  width: 10em;
}

.no-intros-text {
  color: #cccccc !important;
}

.review {
  background: white;
  padding: 0.5em 2em 2em 2em;
  border-radius: 12px;
  border: none;
  margin: -3.7em 0 0 36.5em;
  width: 20em;
  position: absolute;
}

.rate-intro-submit {
  margin-right: 9em;
}

.write {
  float: right;
  margin: -1.1em 2.7em 0 0;
  width: 1.2em;
  height: 1.2em;
  content: url("../assets/writereview.png");
}

.x-right {
  float: right;
  margin: -1.1em 2.7em 0 0;
  width: 1em;
  height: 1em;
  content: url("../assets/xsign.png");
}

.intro-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 22em;
  margin: 1.1em 0 0 2em;
}

@media only screen and (min-width: 1201px) {
  /* for large desktop screens */
  .main-body {
    position: relative;
    background: url("../assets/bghome.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 3789);
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  /* for small desktop screens and tablets */
  .main-body {
    position: relative;
    background: url("../assets/bghome.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 3789);
  }

  .link-buttons {
    width: 26em;
    margin-left: 2em;
  }

  .intro-list {
    width: 26em;
    height: calc(100vw * 4000 / 3789 - 60em);
    margin-left: 2em;
  }

  .review {
    margin-left: 28em;
  }

  .tab-left {
    left: 2.5em;
  }

  .body-profile {
    left: 3.5em;
  }

  .body-search {
    left: 8em;
  }

  .body-account {
    left: 12.5em;
  }

  .tab-right {
    left: 23.3em;
  }

  .write {
    margin-right: 1.7em;
  }

  .x-right {
    margin-right: 1.7em;
  }

  .intro-text {
    width: 17em;
  }
}

@media only screen and (max-width: 768px) {
  /* for mobile screens */

  .brand-image {
    margin-left: 1.8em;
  }

  .main-body {
    position: relative;
    background: white;
    width: calc(100vw - 2em);
    margin-left: 2em;
    padding-top: 8.5em;
    padding-bottom: 8em;
    min-height: calc(100vh - 22.2em);
  }
}
