input[type=submit] {
  margin-top: 0;
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.adjustable-button {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.6em;
  margin-right: -0.4em;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 12px;
}

.nav-log-out-div {
  float: right;
  margin: 0.7em 1.6em 0em 0em;
}

.nav-log-out {
  font-size: 1.1em;
  padding: 0.5em;
}

.link-buttons {
  position: relative;
  background: white;
  width: 34.5em;
  max-width: 100vw;
  margin-left: 10em;
  padding-top: 8.5em;
  height: 4em;
}

.body-profile {
  float: left;
  position: absolute;
  top: 7em;
  left: 5em;
  margin: 0em 0em 0 0;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.body-profile:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.body-search {
  float: left;
  position: absolute;
  top: 7em;
  left: 11em;
  margin: 0em 0em 0 0;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.body-search:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.body-account {
  float: left;
  position: absolute;
  top: 7em;
  left: 17em;
  margin: 0em 0em 0 0;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.body-account:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.tab-left {
  position: absolute;
  top: 10em;
  left: 2.5em;
}

.page-left-grey {
  content: url("../assets/leftarrowgrey.png");
  width: 1em;
  height: 1.5em;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.page-left-red {
  content: url("../assets/leftarrowred.png");
  width: 1em;
  height: 1.5em;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.page-left-red:hover {
  transform: scale(1);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.tab-right {
  position: absolute;
  top: 10em;
  left: 30.8em;
}

.page-right-grey {
  content: url("../assets/rightarrowgrey.png");
  width: 1em;
  height: 1.5em;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.page-right-red {
  content: url("../assets/rightarrowred.png");
  width: 1em;
  height: 1.5em;
  transform: scale(0.8);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.page-right-red:hover {
  transform: scale(1);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.intro-list {
  position: relative;
  background: white;
  width: 34.5em;
  margin-left: 10em;
  padding: 0.9em 0 8em 0;
  height: calc(100vw * 4000 / 3789 - 60em);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.empty-intros-container {
  width: 20em;
  margin-left: calc(50% - 20em / 2);
  padding-top: 10em;
}

.empty-intros-left {
  float: left;
  width: 10em;
}

.empty-intros-right {
  float: left;
  padding-top: 3.5em;
  width: 10em;
}

.no-intros {
  content: url("../assets/emptyintros.png");
  width: 10em;
}

.no-intros-text {
  color: #cccccc !important;
}

.review {
  background: white;
  word-break: break-word;
  padding: 0.5em 2em 2em 2em;
  border-radius: 12px;
  border: none;
  margin: -3.7em 0 0 36.5em;
  width: 20em;
  position: absolute;
}

.rate-intro-submit {
  margin-right: 9em;
}

.write {
  float: right;
  margin: -1.1em 2.7em 0 0;
  width: 1.2em;
  height: 1.2em;
  content: url("../assets/writereview.png");
}

.x-right {
  float: right;
  margin: -1.1em 2.7em 0 0;
  width: 1em;
  height: 1em;
  content: url("../assets/xsign.png");
}

.intro-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 22em;
  margin: 1.1em 0 0 2em;
}

.review-header {
  display: default;
}

@media only screen and (min-width: 1200px) {
  /* for large desktop screens */
  .main-body {
    position: relative;
    background: url("../assets/bghome.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 3789);
  }

  .review-error::after {
    content: "\A";
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  /* for small desktop screens and tablets */
  .main-body {
    position: relative;
    background: url("../assets/bghome.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 3789);
  }

  .link-buttons {
    width: 26em;
    margin-left: 2em;
  }

  .intro-list {
    width: 26em;
    height: calc(100vw * 4000 / 3789 - 50em);
    margin-left: 2em;
  }

  .review {
    margin-left: 28em;
  }

  .tab-left {
    left: 2.5em;
  }

  .body-profile {
    left: 3.5em;
  }

  .body-search {
    left: 8em;
  }

  .body-account {
    left: 12.5em;
  }

  .tab-right {
    left: 23.3em;
  }

  .write {
    margin-right: 1.7em;
  }

  .x-right {
    margin-right: 1.7em;
  }

  .intro-text {
    width: 17em;
  }

  .review-error::after {
    content: "\A";
  }
}

@media only screen and (min-width: 480px) and (max-width: 999px) {
  /* for tablets and large mobile screens */

  .brand-image {
    margin-left: 1.8em;
  }

  .main-body {
    position: relative;
    background: white;
    width: 100vw;
    margin-left: 0;
    padding-top: 0em;
    padding-bottom: 6em;
    min-height: calc(100vh - 13.7em);
  }

  .link-buttons {
    margin-left: 0;
  }

  .tab-left {
    left: calc(2.5em + (100vw - 475px) / 2);
  }

  .body-profile {
    left: calc(4em + (100vw - 475px) / 2);
  }

  .body-search {
    left: calc(9em + (100vw - 475px) / 2);
  }

  .body-account {
    left: calc(14em + (100vw - 475px) / 2);
  }

  .tab-right {
    left: calc(25.8em + (100vw - 475px) / 2);
  }

  .intro-list {
    width: 100vw;
    padding-bottom: 0;
    min-height: 20.7em;
    height: auto;
    margin-left: 0em;
  }

  .intro-text {
    width: calc(100vw - 10em);
  }

  .review {
    width: calc(100vw - 4em);
    margin: 0 0 0 0.5em;
    padding-bottom: 0.5em;
    position: relative;
  }

  .review-header {
    display: none;
  }

  .review-error::after {
    content: "";
  }
}

@media only screen and (max-width: 479px) {
  /* for small mobile screens */

  .adjustable-button {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    padding: 0.6em;
    margin-top: 1.5em;
    margin-right: -0.4em;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 12px;
  }

  .brand-image {
    margin-left: 1.8em;
  }

  .main-body {
    position: relative;
    background: white;
    width: 100vw;
    margin-left: 0;
    padding-top: 0em;
    padding-bottom: 6em;
    min-height: calc(100vh - 13.7em);
  }

  .link-buttons {
    margin-left: 0;
  }

  .tab-left {
    left: calc(3.3em + (100vw - 400px) / 2);
  }

  .body-profile {
    left: calc(4.5em + (100vw - 400px) / 2);
  }

  .body-search {
    left: calc(9em + (100vw - 400px) / 2);
  }

  .body-account {
    left: calc(13.5em + (100vw - 400px) / 2);
  }

  .tab-right {
    left: calc(18.1em + (100vw - 320px) / 2);
  }

  .intro-list {
    width: 100vw;
    padding-bottom: 0;
    min-height: 20.7em;
    height: auto;
    margin-left: 0em;
  }

  .intro-text {
    width: calc(100vw - 7em);
  }

  .review {
    width: calc(100vw - 4em);
    margin: 0 0 0 0.5em;
    padding-bottom: 0.5em;
    position: relative;
  }

  .review-header {
    display: none;
  }

  .review-error::after {
    content: "";
  }
}
