.nav-sign-up-div {
  float: right;
  margin: 0.7em 1.6em 0em 0em;
}

.nav-log-in-div{
  float: right;
  margin: 0.7em 1.1em 0em 0em;
}

.nav-sign-up {
  font-size: 1.1em;
  padding: 0.5em;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.nav-sign-up:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.nav-log-in {
  font-size: 1.1em;
  padding: 0.5em;
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

.nav-log-in:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.explanation {
  position: relative;
  background: white;
  top: calc(50vh - 9em);
  left: calc(25vw - 10em);
  width: 20em;
  text-align: center;
}

.body-sign-up-div {
  float: left;
  position: absolute;
  top: 11.7em;
  left: 9.8em;
  margin: 0.4em 1em 0em 0em;
}

.body-log-in-div {
  float: left;
  position: absolute;
  top: 11.7em;
  left: 4.6em;
  margin: 0.4em 1em 0em 0em;
}

.body-sign-up {
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

.body-sign-up:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.body-log-in {
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

.body-log-in:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.down-arrow-div {
  position: absolute;
  top: calc(50vh + 4em);
  left: 8.75em;
}

.down-arrow {
  content: url("../assets/downarrow.png");
  width: 2.5em;
  height: 1em;
  transform: scale(0.5);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.in-depth {
  position: relative;
  background: white;
  top: calc(65vw - 9em);
  left: calc(75vw - 10em);
  width: 20em;
  text-align: center;
  z-index: 2;
}

@media only screen and (min-width: 1201px) {
  /* for large desktop screens */
  .main-body {
    position: relative;
    background: url("../assets/bgdesktop.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 2972);
  }

  .down-arrow:hover {
    transform: scale(1);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }

  .mobile-top-divider {
    display: none;
  }

  .mobile-bottom-divider {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
  /* for small desktop screens and tablets */
  .main-body {
    position: relative;
    background: url("../assets/bgdesktop.jpg") no-repeat;
    background-size: cover;
    height: calc(100vw * 4000 / 2972);
  }

  .explanation {
    top: calc(25vw - 9em);
  }

  .in-depth {
    top: calc(60vw - 9em);
  }

  .down-arrow-div {
    top: 18em;
  }

  .down-arrow:hover {
    transform: scale(1);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
  }

  .mobile-top-divider {
    display: none;
  }

  .mobile-bottom-divider {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /* for mobile screens */
  .main-body {
    position: relative;
    background: white;
    background-size: cover;
    height: calc(50vh + 100vw + 55em);
  }

  .brand-image {
    margin-left: 1.8em;
  }

  .explanation {
    left: calc(50vw - 10em);
  }

  .in-depth {
    top: calc(50vh + 10em);
    left: calc(50vw - 10em);
  }

  .down-arrow-div {
    top: 18em;
  }

  .mobile-top-divider {
    position: relative;
    content: url("../assets/mobiletop.jpg");
    width: 100vw;
    top: calc(50vh + 1em);
  }

  .mobile-bottom-divider {
    position: relative;
    content: url("../assets/mobilebottom.jpg");
    width: 100vw;
    top: calc(50vh + 15em);
  }
}
