form {
  width: calc(100% - 2.5em);
  margin-right: 2.5em;
}

input[type=submit] {
  margin-right: 7.5em;
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}

.main-body {
  position: relative;
  height: calc(100vh - 8em);
}

.basic-info {
  position: relative;
  background: white;
  top: calc(50vh - 12em);
  left: calc(50vw - 14.5em);
  width: 25em;
  padding: 0 2em 2em 2em;
  border-radius: 12px;
  border: none;
}

@media only screen and (min-width: 769px) {
  .main-body {
    background: url("../assets/bgnoscroll.jpg") no-repeat;
    background-position: 0 calc(50vh - (100vw * 2656 / 4000) / 2 - 6em);
    background-size: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  form {
    margin-right: 0;
  }

  h1 {
    text-align: left;
  }

  input[type=submit] {
    margin-left: 0;
  }

  .main-body {
    background: white;
    min-height: 32em;
  }

  .basic-info {
    top: 5em;
    left: 0;
    width: calc(100vw - 4em);
  }

  .brand-image {
    margin-left: 1.8em;
  }
}
