form {
  width: calc(100% - 2.5em);
  margin-right: 2.5em;
}

input[type=submit] {
  margin-right: 7.5em;
  background: linear-gradient(#ffb3b3 0%, #ff4d4d 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ffcccc 0%, #ff6666 100%);
}
