form {
  width: calc(100% - 0.75em);
  margin-right: 0.75em;
}

input[type=submit] {
  margin-right: 8.5em;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

a {
  text-decoration: underline;
  color: #b30000;
}

.main-body {
  position: relative;
  height: calc(100vh - 6em);
}

.basic-info {
  position: relative;
  background: white;
  top: calc(50vh - 12em);
  left: calc(50vw - 14.5em);
  width: 25em;
  padding: 0 2em 2em 2em;
  border-radius: 12px;
  border: none;
}

@media only screen and (min-width: 769px) {
  .main-body {
    background: url("../assets/bgnoscroll.jpg") no-repeat;
    background-position: 0 calc(50vh - (100vw * 2656 / 4000) / 2 - 6em);
    background-size: 100vw;
  }
}

@media only screen and (max-width: 768px) {
  form {
    margin-right: 0;
  }

  h1 {
    text-align: left;
  }

  input[type=submit] {
    margin-left: 0;
  }

  .main-body {
    background: white;
  }

  .basic-info {
    top: calc(50vh - 14em);
    left: 0;
    width: calc(100vw - 4em);
  }
}
