body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: #b30000;
  margin: 0;
  padding: 0;
}

nav {
  z-index: 10;
  height: 4.1em;
  width: 100vw;
  top: 0;
  position: fixed !important;
  background-color: white;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: -0.1em;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.6em;
  text-align: center;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 1.7em;
}

b {
  font-weight: 400;
}

a {
  text-decoration: none;
}

form {
  text-align: right;
}

input[type=text] {
  width: 12em;
  padding: 8px;
  margin: 8px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  border-radius: 8px;
  border: 1px solid #cccccc;
}

textarea {
  width: 12em;
  padding: 8px;
  margin: 8px 0 -6.7em 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  border-radius: 8px;
  border: 1px solid #cccccc;
  height: 7em;
  resize: none;
}

input[type=password] {
  width: 12em;
  padding: 8px;
  margin: 8px 0 0 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  border-radius: 8px;
  border: 1px solid #cccccc;
}

input[type=submit] {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  padding: 0.5em;
  margin-top: 1.5em;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  background: linear-gradient(#ff0000 0%, #990000 100%);
}

input[type=submit]:hover {
  background: linear-gradient(#ff4d4d 0%, #b30000 100%);
}

.button {
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  padding: 0.6em;
  margin-right: -0.4em;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 12px;
}

.brand-image {
  float: left;
  width: 9em;
  margin: 1em;
}

.brand-image-button {
  position: relative;
  width: 8.3em;
  background: white;
  padding: 0.5em 0 0.3em 0;
  margin: -0.5em 0 0 -0.5em;
}

.logo {
  content: url("../assets/logo.png");
  width: calc(1.5em * 1175 / 249);
  height: 1.5em;
}

.form-header {
  font-weight: 300;
}

.form-text {
  font-size: 1.1em;
  font-weight: 300;
  display: inline;
  white-space: pre;
}

.legal-text {
  font-size: 1.1em;
  font-weight: 300;
}

.form-text::after {
  content: "       ";
}

.error-text {
  font-size: 1.1em;
  font-weight: 300;
  display: inline;
  white-space: pre-line;
  word-break: break-word;
}

.error-text::before {
  content: "\A";
}

.error-text::after {
  content: "\A";
}

.warning-text {
  font-size: 1.1em;
  font-weight: 300;
  display: inline;
  white-space: pre-line;
  word-break: break-word;
}

.warning-text::before {
  content: "\A";
}

.warning-text::after {
  content: "\A";
}

.form-link {
  color: #b30000;
  text-decoration: underline;
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 1.7em;
}

.legal-link {
  color: #b30000;
  text-decoration: underline;
  font-size: 1em;
  font-weight: 300;
}

.pre-link {
  height: 1.1em;
}

.post-link {
  height: 0;
}

.pre-warning {
  height: 0.3em;
}

.post-warning {
  height: 0.4em;
}

.big-text {
  font-size: 1.1em;
}

.big-text-link {
  color: #b30000;
  text-decoration: underline;
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 1.7em;
}

.x {
  width: 1em;
  height: 1em;
  margin-bottom: -0.2em;
  margin-left: 1.5em;
  content: url("../assets/xsign.png");
}

.empty-x {
  width: 1em;
  height: 1em;
  margin-bottom: -0.2em;
  margin-left: 1.5em;
  content: url("../assets/nothing.png");
}

.slight-tab {
  width: 0.8em;
  height: 1em;
  content: url("../assets/nothing.png");
}

.plus {
  width: 1.2em;
  height: 1.2em;
  margin-left: 6.5em;
  margin-right: 9em;
  content: url("../assets/plussign.png");
}

::placeholder {
  color: #cccccc;
}

.empty-footer-pad {
  height: 2.3em;
  width: 100vw;
}

.footer {
  position: relative;
  text-align: center;
  font-size: 0.8em;
  color: #cccccc;
  top: -2em;
  height: 6em;
}

.twitter-link {
  position: relative;
  top: -1em;
}

.facebook-link {
  position: relative;
  top: -1em;
  margin-left: 0.5em;
}

.medium-link {
  position: relative;
  top: -1em;
  margin-left: 0.5em;
}

.twitter {
  content: url("../assets/twitter.png");
  margin-left: -0.5em;
  width: 2em;
  height: 2em;
}

.facebook {
  content: url("../assets/facebook.png");
  width: 2em;
  height: 2em;
}

.medium {
  content: url("../assets/medium.png");
  width: 2em;
  height: 2em;
}

.appear {
  /* make a div visible */
  opacity: 1;
  transition: opacity 0.25s ease 0s;
}

.disappear {
  /* make a div invisible */
  opacity: 0;
  transition: opacity 0.25s ease 0s;
}

.expand {
  /* make a div 2x in size */
  transform: scale(2);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.expand-small {
  /* make a div 1.25x in size */
  transform: scale(1.25);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.enable-link {
  /* enable link in a div */
  pointer-events: auto;
}

.disable-link {
  /* disable link in a div */
  pointer-events: none;
}

.delete {
  display: none;
}

@media only screen and (max-width: 768px) {
  form {
    text-align: left;
  }

  input[type=text] {
    margin: 8px 0 16px 0;
  }

  input[type=password] {
    margin: 8px 0 16px 0;
  }

  input[type=submit] {
    margin-top: 8px;
  }

  .form-text::after {
    content: "\A";
  }

  .error-text::before {
    content: "";
  }

  .error-text::after {
    content: "\A\A";
  }

  .warning-text::before {
    content: "\A";
  }

  .warning-text::after {
    content: "\A\A";
  }

  .pre-link {
    height:0;
  }

  .post-link {
    height: 1.1em;
  }

  .pre-warning {
    height: 1em;
  }
}
